#el-tables .table {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 2rem 0rem 0rem 0rem;
	max-width: 100%;
}

#el-tables .table-cell {
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;
	padding: 1em 1.4em;
	overflow: hidden;
	list-style-type: none;
	outline: 1px solid #ddd;
	text-align: center;
	font-weight: 300;
	margin-top: 1px;
	margin-left: 1px;
}
#el-tables .table-cell:first-child {
  outline: 1px solid #fff;
  background: transparent;
}
@media only screen and (max-width: 768px) {
  #el-tables .table-cell:first-child {
    display: none;
  }
}
#el-tables .table-cell:nth-child(3) {
  outline: 1px solid #30305b;
}
#el-tables .table-cell:nth-child(-n+3) {
  padding-top: 40px;
  padding-bottom: 40px;
}
#el-tables .table-cell h3.column-table-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 3rem;
}

#el-tables .table-cell.cell-feature {
	text-align: left;
	font-size: 18px; 
}
#el-tables .table-cell.features a.btn:hover {
	background-color: #85bafc;
	border-color: #85bafc;
	color: #30305b;
}
#el-tables .table-cell.first-column {
	color: #30305b;
}
#el-tables .table-cell.first-column a.btn {
	background-color: #ffffff;
	border-color: #30305b;
	color: #30305b;
}
#el-tables .table-cell.first-column a.btn:hover {
	background-color: #30305b;
	border-color: #30305b;
	color: #ffffff;
}
#el-tables .table-cell.second-column {
	color: #85bafc;
}
#el-tables .table-cell.second-column a.btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #85bafc;
}
#el-tables .table-cell.second-column a.btn:hover {
  background-color: #85bafc;
  border-color: #85bafc;
  color: #ffffff;
}

#el-tables .table-cell p {
	margin: 0;
	padding: 0;
}

/* Table columns
================================== */
#el-tables .table-cell {
  width: calc(33.33% - 1px);
}
@media only screen and (max-width: 768px) {
  #el-tables .table-cell.cell-feature {
    width: 100%;
    text-align: center;
  }
}

#el-tables a.btn {
	border: 2px solid;
	padding: .6rem .9rem .6rem .9rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	border-radius: 0.3rem;
}